.idea/
vendor/
storage/framework/views/
storage/framework/cache/fb/b1/fbb1fc84d4a4a92e42ab899cddb9743a36353251
storage/framework/cache/b6/56/b656e7ba6e442f07065f322e23ec202de77f134d
storage/framework/cache/
public/backup/
storage/logs/
bootstrap/cache/
public/assets/js/temp.json
log.txt
.env
